
<!doctype html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/prism.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap"
            rel="stylesheet">
        <link
            href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap"
            rel="stylesheet">
        <link rel="icon" type="image/x-png" href="/eye.png">
    </head>
    <body>
        <header>
            <nav>
                <a href="/" class="{{ 'active' if page.url != '/'}}" >[ Home ]</a>
                <a href="/About/" class="{{ 'active' if page.url != '/About/'}}">[ About ]</a>
                <a href="/Bookmarks/" class="{{ 'active' if page.url != '/Bookmarks/'}}">[ Bookmarks ]</a>
                <a href="https://github.com/1299651405" class="active" >[ Github ]</a>
            </nav>
        </header>
        <main>
            {{ content | safe }}
        </main>
        <footer>
            
        </footer>
    </body>
</html>