<!doctype html>
<html>
<head>
<title>{{ title }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: monospace;}
th,td {padding: 0px}
table { border-spacing: 0px; font-size:medium;}
</style>
<link rel="icon" type="image/x-png" href="/eye2.png">
</head>
<body>
{{content | safe}}
</body>
</html>