---
layout: base.njk
---


<h1 style="font-family: 'Friedolin', cursive; font-size: 300%;"><a href="/" style=" text-decoration:none">Under Construction</a></h1>
<h1>{{title}}</h1>

{{ content | safe }}
