<p>I made a slightly uniformed blog post in 2022 comparing the various
CAD programs I could access on Linux, since then my understanding has
come a long way, so I thought I would put together an article on CAD at
a deeper level.</p>
<h2 id="what-do-we-mean-by-cad">What do we mean by CAD?</h2>
<p>CAD (Computer Aided Design) is a vague classification. You can, and
people do, use Adobe Illustator to do CAD work, there are situations
where you</p>
<ul>
<li>specify geometry</li>
<li>verify and test designs with simulation</li>
<li>outut for 3d printers</li>
</ul>
<p>Firstly we must remember it really is CAD/CAM, Computer Aided Design
and Computer Aided Manufacturing. It is not that useful to have a nice
image rendered on our screens, we want to mill, cast, fold, print, stamp
our designs. You will hear the expression “Digital Twin” a lot these
days if you are invovled in any sort of manufacturing.</p>
<h2 id="geometry-kernels">Geometry Kernels</h2>
<ul>
<li>you need to understand linear algebra and differential forms</li>
</ul>
<h3 id="csg">CSG</h3>
<h3 id="brep">BRep</h3>
<h3 id="f-rep">F-Rep</h3>
<p>This is one for the mathematicians, instead of spending all our time
stitching together surfaces and.</p>
<p>hello <math display="inline"> <mfrac> <mn>1</mn> <msqrt> <mn>2</mn>
</msqrt> </mfrac> </math> thi is great</p>
</p>
