
<a style="display:flex;" href="/">
<svg height="{{ h }}" width="{{ w }}" viewBox="{{ -w//2 }} 0 {{w}} {{h}}" xmlns="http://www.w3.org/2000/svg">
    <defs>
    <path id="eye-path" d="M-15 0Q0,15 15,2Q0,-15 -15,0Z"/>
    <path id="pupil-path" d="M0 -7Q-7 0, 0 7Q7 0,0 -7Z"/>
    <path id="finger-path" d="M-3 0q3,20 6,0 z"/>
    <clipPath id="eye-clip">
        <use href="#eye-path"/>
    </clipPath>
    </defs> 
    <path d="M-100 30.5H100" stroke-width="1" rendering="crispEdges" class="svg-fg-stroke"/>
    {%- for i in range(2) %}
        <g transform="translate({{ i * 40 - 20 }} 15) scale({{ -i*2 + 1  }} 1)" >
            <g clip-path="url(#eye-clip)">
                <use id="pupil-{{ i }}" href="#pupil-path" class="svg-fg-stroke" fill="none" stroke-width="1" />
            </g>
            <g id="eye-{{ i }}">
                <use href="#eye-path" stroke-width="1" class="svg-fg-stroke" fill="none"/>
            </g>
        </g>
        {%- for j in range(3) %}
            {%- set offset = (2 * i - 1) * hand_gap +  (j - 1) * 6 -%}
            <g transform="translate({{ offset }} 25)"> 
            <use href="#finger-path" class="svg-fg-stroke svg-bg-fill" stroke-width="1" />
            </g>
        {%- endfor %}
    {%- endfor %}
    <path d="M0 27m-7 -3 l6 20 q2,2 4,0 l6 -20" class="svg-fg-stroke svg-bg-fill" stroke-width="1"/>
</svg></a>
