
@font-face {
    font-family: "Altenglisch" ;
    src: url("/fonts/Altenglisch.ttf");
}

@font-face {
    font-family: "Walthari";
    src: url("/fonts/CAT_Walthari.ttf");
}


:root {
    /* Default color scheme variables */
    color-scheme: light dark;

    --pupil-x: 0px;
    --pupil-y: 0px;

    --ss : "Atkinson Hyperlegible Next";
    --ms : "Atkinson Hyperlegible Mono";
    --ss : serif;
    /* --ms : monospace; */

    font-family: var(--ss);
    line-height: 1.5;
  
    /* Light mode colors */
    --background-light: white;
    --text-light: black;
    
    /* Dark mode colors */
    --background-dark: black;
    --text-dark: white;
  
    /* Base colors that will automatically invert */
    --bg: var(--background-light);
    --fg: var(--text-light);
    
    /* Opposite colors (for elements like navbar) */
    --bgo: var(--background-dark);
    --fgo: var(--text-dark);
  }
  
  /* Dark mode support */
  @media (prefers-color-scheme: dark) {
    :root {
      --bg: var(--background-dark);
      --fg: var(--text-dark);
      
      /* In dark mode, these will flip */
      --bgo: var(--background-light);
      --fgo: var(--text-light);
    }
  }

a {
    text-decoration: none;
}

#eye-root {
/*  height:100px;
  object-fit: cover;
  object-position: center top;
  display:block;
  position:relative; */   
}

#pupil {
    
height:50px;
top:30px;
left:295px;
object-fit:cover;
object-position:center top;
display:block;
position:absolute;
transform:translate(var(--pupil-x),var(--pupil-y));
}

.svg-fg {
    stroke: var(--fg);
}

.svg-bg {
    fill: var(--bg);
}

.eyes {
    
transform:translate(var(--pupil-x),var(--pupil-y));


}

body {

    background-color: var(--bg);
    color: var(--fg);
    /* font-family: monospace; */

    margin: auto;
    max-width: 700px;
}

header {
    display: flex;
    flex-direction: column;
}

nav {
    padding: 0.3rem;
}


footer nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.3rem;
    text-align: left;
}

nav a {
    /* border-bottom: 1px solid var(--fg); */
    /* text-decoration: none; */
    /* color: var(--bg); */
    /* background-color: var(--fg); */
    /* padding: 0.1rem 0.3rem; */

}

/* .active {
    color: var(--fg);
    background-color: var(--bg);
} */

main {
    padding: 0 0.3rem;
}

code {
    font-family: var(--ms);
}

pre {
    font-family: var(--ms);
    /* background-color: antiquewhite; */
    /* padding: 20px !important; */
    /* border-radius: 10px; */

}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

figure {
    font-weight: bold;
    font-size: smaller;
    text-align: center;
    margin: 5px;
}

video {
    display: block;
    width: 100%;
}

canvas {
    width: 100%
}


hr {
    color: var(--fg);
}


@page {
    size: A4;
}

@media print {
    header {
        display: none;
    }
}   
  .compact-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .compact-list li {
    margin: 0;
    padding: 0;
  }


