

body {margin: 0px; padding:0px;    font-family: 'Roboto Slab', serif;}
header{ margin:0px; padding: 0px; color: white; overflow:hidden;}
main {
    padding: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr min(80ch,100%) 2fr 3fr;
}

main > * {grid-column: 2 / 5;}
main > a, h1, h2, h3, p, ul, canvas {grid-column: 3 / 4;}

/*
header {
    font-family: 'UnifrakturCook', cursive;
    font-size: 80px;
    padding-left: 1%;
    padding-right: 3%;
    background-color: white;
    border: 2px solid black;
    margin-top: 5px;

}
*/




img {
    max-width: 100%;
    display: block;
    height: auto;
}

figure {
    font-weight: bold;
    font-size: smaller;
    text-align: center;
    margin: 5px;
}

video {
    display: block;
    width: 100%;
}

canvas {width: 100%}

/*
@media (prefers-color-scheme: dark) {
    body {
        color: #ffffff;
        background-color: #000000;
    }