

body {margin: 0px; padding:0px;    font-family: 'Roboto Slab', serif;}
header{ 
    display: grid;
    grid-template-columns: 2fr min(85ch,100%) 3fr;

}
main {
    display: grid;
    grid-template-columns: 2fr min(85ch,100%) 3fr;
}

header > * {grid-column: 2/3; padding: 0px 10px}

nav a {color:black; display: inline-block;padding-right: 10px;}


main > * {grid-column: 2 / 3; padding: 0px 10px;}
main > a, h1, h2, h3, p, ul, canvas {grid-column: 2 / 3;}

/*
header {
    font-family: 'UnifrakturCook', cursive;
    font-size: 80px;
    padding-left: 1%;
    padding-right: 3%;
    background-color: white;
    border: 2px solid black;
    margin-top: 5px;

}
*/

li {min-width: 0px;}


img {
    max-width: 100%;
    display: block;
    height: auto;
}

figure {
    font-weight: bold;
    font-size: smaller;
    text-align: center;
    margin: 5px;
}

video {
    display: block;
    width: 100%;
}

canvas {width: 100%}

/*
@media (prefers-color-scheme: dark) {
    body {
        color: #ffffff;
        background-color: #000000;
    }